/*------ Overall Styling ------*/
.app__resume{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--text-primary);

    h2{
        margin-bottom: 1rem;
    }
}

/*------ Filter Styling ------*/
.app__resume-filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .app__resume-filter-item{
        background-color: var(--background);
        box-shadow: 0 0 15px var(--shadow-primary);
        border-radius: 5px;

        text-transform: uppercase;
        
        margin: 1rem;
        padding: .2rem .5rem;

        cursor: pointer;

        &:hover{
            background-color: var(--background-switch);
        }
        
    }
    .item-active{
        background-color: var(--background-switch);
    }
}

/*------ Cards Container Styling ------*/
.app__resume-card-container{
    height: 60%;
    width: 80%; 

    display: flex;
    justify-content: center;
    align-items: center;
}

/*------ Cards Styling ------*/
.app__resume-card-btns{
    height: 100%;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 1rem;

    cursor: pointer;

    div{
        height: 50px;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        svg{
            height: 50px;
            width: 50px;
            color: var(--text-primary);
        }
    }

}

.app__resume-card {
    box-shadow: 0 0 15px var(--shadow-primary);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 380px;
    width: 280px;

    margin: 1rem; 

    .app__resume-overview-img, .app__resume-overview-card-container{
        display: none;
    }
}

.overview{
    width: 100%; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: none;

    .app__resume-overview-card-container{
        width: 90%;
        height: 40%;

        display: flex;
        justify-content: center;
        align-items: center;
        

        .app__resume-overview-card{
            width: 100px;
            height: 100px; 

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin: 2rem;
            padding: .5rem;

            border-radius: 15px;
            box-shadow: 0 0 15px var(--shadow-primary);

            background-color: var(--background);

            h3{
                font-size: 14px;
                font-weight: 500;
                color: var(--text-primary);
                height: 50%;
            }

            p{
                font-size: 14px;
                font-weight: 500;
                color: var(--text-secondary);
                height: 50%;
            }
            
        }
    }

    

    .app__resume-overview-img{
        width: 90%;
        display: flex;
        align-items: center;

        margin: 1rem;

        div{
            position: absolute;

            width: 30px;
            height: 30px;

            margin-left: 2.5rem;

            border-radius: 50%;
            
            background-color: var(--background-switch);
        }

        img{
            width: 100%;
        }
    }

    .app__resume-img, .app__resume-desc, .app__resume-location, .app__resume-title{
        display: none;
    }  
}


.app__resume-img{
    position: absolute;
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    align-self: flex-start;

    border-radius: 50%;
    background-color: #3AAFA9;
    box-shadow: 0 0 10px var(--shadow-primary);

    margin-top: 2.75rem;
    margin-left: 1rem;

    cursor: pointer;

    img{
        height: 60%;
        width: 60%;
    }

    a{
        text-decoration: none;
        color: var(--text-primary);
    }
}

.app__resume-img-hover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    border-radius: 50%;
    background-color:#17252A;

    svg{
        height: 50%;
        width: 50%;
    }

}

.app__resume-title{
    position: absolute;
    width:150px;
    height: 70px;

    align-self: flex-end;
    justify-self: flex-start;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 2.75rem;
    margin-right: 1rem;

    h1{
        font-size: 20px;
        font-weight: 900;
        color: var(--text-secondary);
    }

}

.app__resume-location{
    box-shadow: 0 0 10px var(--shadow-primary);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    padding: .5rem;

    cursor: pointer;

    a{
        font-size: 14px;
        text-decoration: none;
        color: var(--text-primary)
    }
}

.app__resume-desc{
    position: absolute;

    margin-top: 140px;
    height: 240px;
    width: 280px;

   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;

   h2{
       font-size: 18px;
       margin: 1rem 1.5rem;
   }

   p{
       margin: 0 1.5rem;
   }

}


