/*------ Overall Styling ------*/
.app__header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;

    height: 100vh;
    width: 100vw;

    scroll-snap-align: start;


    /*-- Width --*/
    /*-- 2000px --*/
    @media screen and(min-width: 2000px) {
        padding-top: 8rem;
    }
    /*-- 1200px --*/
    @media screen and(max-width: 1200px) {
        flex-direction: column;
    }
     
}

/*------ Badges Left Styling ------*/
.app__header-info{
    flex: .75;
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    /*-- Width --*/
    /*-- 1200px --*/
    @media screen and(max-width: 1200px) {
       flex: .25;
    }
   

    

    
}

.app__header-badge{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .badge, .tag{
        padding: 1rem 2rem;
        border-radius: 15px;
        flex-direction: row;
        width: auto;
        background-color: var(--background-navbar);
        box-shadow: 0 0 10px var(--shadow-primary);

        transition: all .3s ease-in-out;

        p{
            font-size: .75rem;
            font-weight: 500;
        }
    }

    .tag{
        flex-direction: column;
        margin-top: 3rem;

        p{
            width: 100%;
            text-transform: uppercase;
            text-align: left;
        }
    }

    span{
        font-size: 2.5rem;

        /*-- Width --*/
        /*-- 2000px --*/
        @media screen and (min-width: 2000px) {
            font-size: 5rem;
        }
    }

    /*-- 2000px --*/
    @media screen and(min-width: 2000px) {
        .badge{
            p{
                font-size: 2rem;
            }
            h1{
                font-size: 6rem;
            }
        }
        .tag{
            p{
                font-size: 1.5rem;
            }
        }
    }

    /*-- Width --*/
    /*-- 1200px --*/
    @media screen and (max-width: 1200px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .badge{
            h1{
                font-size: 2rem;
            }
        }
        .tag{
            margin-left: 3rem;
            margin-top: 0;
            p{
                font-size: .5rem;
            }
        }
        span{
            font-size: 2rem;
        }
    }

    @media screen and (max-width: 500px) {
        .tag{
            margin-left: 1rem;  
        }   
    }
    @media screen and (max-width: 375px) {
        .badge, .tag{
            margin: 1rem 1rem; 
            
        }
        .badge{
            p{
                font-size: .75rem;
            }
            h1{
                font-size: 2rem;
            }
        }

        .tag{
            margin-left: 0;
        }
        
        span{
            font-size: 1rem;
        }   
    }
    @media screen and (max-width: 280px) {
        justify-content: center;
        .badge, .tag{
            margin: .5rem .25rem; 
            h1{
                font-size: 1rem;
            }
            
        }

        .badge{
            padding: .5rem;
            p{
                font-size: .75rem;
            }
            h1{
                font-size: 1.5rem;
            }
        }

        .tag{
            padding: .5rem;
            p{
                font-size: .5rem;
            }
        }
        
        span{
            font-size: 1rem;
        }   
    }

    @media screen and (max-height: 580px) {
        .badge, .tag{
            margin: 1rem;
            padding: .5rem;

            p{
                font-size: .5rem;
            }
        }

        .badge{
            h1{
                font-size: 1rem;
            }
        }

        span{
            font-size: 1rem;
        }
    }
    @media screen and (max-height: 375px) {
        .badge, .tag{
            margin: .5rem;
            padding: .25rem;
        }
    }
    @media screen and (max-height: 375px) {
        margin: 0;
        .badge, .tag{

            p{
                font-size: .4rem;
            }
        }

        .badge{
            h1{
                font-size: 1rem;
            }
        }

        span{
            font-size: 1rem;
        }
    }
}


/*------ Image Middle Styling ------*/
.app__header-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    height: 100%;
    position: relative;

    img{
        max-height: 90%;
        max-width: 90%;
        object-fit: contain;
        z-index: 1;
        margin-left: 4rem;

    }
    /*-- Width --*/
    /*-- 1200px --*/
    @media screen and (max-width: 1200px) {
        flex: .55;
        min-height: 50%;
        align-items: center;
        
        img{
            height: 100%;
            margin-left: 2rem;   
        }
    }

    @media screen and (max-height: 320px) {
        flex: .6;
        align-items: flex-end;
    }
    
}


/*------ Circles Right Styling ------*/
.app__header-circles{
    flex: .75; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;
    width: 100%;

    div{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100px;
        height: 100px;

        border-radius: 50%;
        background-color: var(--background);
        box-shadow: 0 0 10px var(--shadow-primary);

        transition: all .3s ease-in-out;

        img{
            width: 60%;
            height: 60%; 
        }

        a{  
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: transparent;
            color: transparent;

        }

        &:hover{
            transform: scale(1.1);
        }
    }

    div:nth-child(1){
        margin-right: 4rem; 
    }

    div:nth-child(2){
        width: 150px;
        height: 150px;
    }

    div:nth-child(3){
        margin-right: 5rem;
        width: 70px;
        height: 70px;
    }

    /*-- Width --*/
    /*-- 2000px --*/
    @media screen and(min-width: 2000px) {
        div{
            width: 200px;
            height: 200px;
        }
        div:nth-child(1){
            margin-right: 4rem; 
        }
    
        div:nth-child(2){
            width: 250px;
            height: 250px;
        }
    
        div:nth-child(3){
            margin-right: 5rem;
            width: 150px;
            height: 150px;
        }
    }
    /*-- 1200px --*/
    @media screen and (max-width: 1200px) {
        width: 100%;
        flex: .1;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        div:nth-child(1){
            width: 60px;
            height: 60px;
            margin-right: 0;
            margin-bottom: 2rem; 
        }
    
        div:nth-child(2){
            width: 80px;
            height: 80px;
        }
    
        div:nth-child(3){
            margin-right: 0;
            margin-bottom: 2rem;
            width: 60px;
            height: 60px;
        }
    }
    @media screen and (max-width: 375px) {
        div:nth-child(1){
            width: 40px;
            height: 40px;
            
        }
    
        div:nth-child(2){
            width: 60px;
            height: 60px;
        }
    
        div:nth-child(3){
            width: 40px;
            height: 40px;
        }
    }

    @media screen and (max-height: 580px) {
        div:nth-child(1){
            width: 40px;
            height: 40px;  
        }
    
        div:nth-child(2){
            width: 60px;
            height: 60px;
        }
    
        div:nth-child(3){
            width: 40px;
            height: 40px;
        }
    }

    @media screen and (max-height: 375px) {
        div:nth-child(1){
            width: 25px;
            height: 25px;  
        }
    
        div:nth-child(2){
            width: 40px;
            height: 40px;
        }
    
        div:nth-child(3){
            width: 25px;
            height: 25px;
        }
    }
    @media screen and (max-height: 320px) {
        display: none;;
    }

}
